/* Empty. Add your own CSS if you like */
/*-----------------Home Page--------------------*/
#ottawaZine{
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
#articelId{
  font-family: 'Comic Sans MS', cursive, sans-serif;
    border-bottom: 1px solid;
}
#articelDate{
    font-family:\534E\6587\96B6\4E66; 
    font-size: 16px;
    color:#404040;
    padding-left: 3%;
}
#articleTitle{
    font-family: \534E\6587\96B6\4E66;
    font-size: 16px;
    color:#000000;
    text-align: center;  
    border:1px dashed;
    border-radius: 8px;
    border-color: grey;
    box-shadow: 2px 2px 2px #888888;
    
}
#like{
    font-family: \4EFF\5B8B;
    font-size: 14px;
    color: white;
    text-justify:distribute-all-lines;
    text-align-last:justify;    
    background-color: #709FCF;
    border-radius: 5px;
}

/*-------------------------------------*/

/*-----------------Article Page--------------------*/
#dateDiv{
  border-bottom: 1px solid;
}