/* Empty. Add your own CSS if you like */
/*-----------------Home Page--------------------*/
#ottawaZine{
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
#articelId{
  font-family: 'Comic Sans MS', cursive, sans-serif;
    border-bottom: 1px solid;
}
#articelDate{
    font-family:\534E\6587\96B6\4E66; 
    font-size: 16px;
    color:#404040;
    padding-left: 3%;
}
#articleTitle{
    font-family: \534E\6587\96B6\4E66;
    font-size: 16px;
    color:#000000;
    text-align: center;  
    border:1px dashed;
    border-radius: 8px;
    border-color: grey;
    box-shadow: 2px 2px 2px #888888;
    
}
#like{
    font-family: \4EFF\5B8B;
    font-size: 14px;
    color: white;
    text-justify:distribute-all-lines;
    text-align-last:justify;    
    background-color: #709FCF;
    border-radius: 5px;
}

/*-------------------------------------*/

/*-----------------Article Page--------------------*/
#dateDiv{
  border-bottom: 1px solid;
}

#modalMore{
         position:absolute;
         top:60%;
}

.thumb {
    height: 70px;
  }

#authorInfoTitle{
    height:100px;
    font-size:15px;   
    line-height: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
    font-weight: bold; 
  /* bring your own prefixes */ 
}

#iconrow {
    height:100px;
    text-align: center;
}

#articlecontent{
    border-bottom: 1px dashed grey;
}

#yellusericon{
  
   height:50px;
}
.usericonthumb{
  height:50px;
}
#yelluserinfo{
  height:50px;
  font-size:15px;
  font-weight: bold;
  line-height: 15px;
  vertical-align: bottom;
  margin-top: 10px;
  
}
#yellcontent{
  font-size: 13px;
  text-decoration-color: grey;
  
}

#rateHeart{     
    text-align: right;
   /* position: relative;
    left:75%;
    height: 20px;*/
    border-radius: 15px;     
    font-size: 16px;

    
}
.customHeartStyle{
    color:#FF0066;
}

/*
.col{
  
  border:thin solid black;
  
}
.scroll{
  height: 100% !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-box-direction: normal !important;
  -moz-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  -moz-box-orient: vertical !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;

}

.row{
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 50% !important;
  -ms-flex: 0 1 50% !important;
  flex: 0 1 50% !important;
}
*/